{% extends 'FgmsShopifyEmbedBundle::auth.html.twig' %}

{% block body %}
  {% if page.content is defined %}
  {{page.content}}
  {% else %}
  <p>Install this app in a shop to get access to its private admin data.</p> 
  <p style="padding-bottom: 1em;">
      <span class="hint">Don&rsquo;t have a shop to install your app in handy? <a href="https://app.shopify.com/services/partners/api_clients/test_shops">Create a test shop.</a></span>
  </p> 
  {% endif %}

  {% if form is defined %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
  {% endif %}
   
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    label {
      margin-right: 15px;
    }
    button {
      margin-top: 15px;
    }
  
</style>
{% endblock %}
